
 $width-tiny: 12rem;
 $width-small: 35rem;
 $width-middle: 40rem;
 $width-medium: 100rem;
 $width-large: 200rem;
 $width-x-large: 500rem;
 $width-xx-large: 1400rem;

 $height-tiny: 22rem;
 $height-small: 35rem;
 $height-middle: 40rem;
 $height-medium: 100rem;
 $height-large: 333rem;
 $height-x-large: 500rem;
 $height-xx-large: 1440rem;
