
 $mobile-xxxs: 4px;
 $mobile-xxs: 8px;
 $mobile-xs: 11px;
 $mobile-s: 16px;
 $mobile-default: 20px;
 $mobile-m: 24px;
 $mobile-l: 28px;
 $mobile-xl: 34px;
 $mobile-xxl: 40px;
 $mobile-xxxl: 55px;
 $mobile-hughmongus: 64px;
 $mobile-innerpage: 80px;
 $mobile-page: 84px;

 $desktop-xxxs: 8px;
 $desktop-xxs: 16px;
 $desktop-xs: 20px;
 $desktop-s: 24px;
 $desktop-default: 32px;
 $desktop-m: 40px;
 $desktop-l: 56px;
 $desktop-xl: 64px;
 $desktop-xxl: 70px;
 $desktop-xxxl: 84px;
 $desktop-hughmongus: 100px;
 $desktop-innerpage: 110px;
 $desktop-page: 128px;
