h1 {
    font-size: 54px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.62px;
    line-height: 64.8px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

h2 {
    font-size: 34px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 40.8px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

h3 {
    font-size: 28px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 36px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

h4 {
    font-size: 22px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 26.4px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

h5 {
    font-size: 26px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 31.2px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

.subheading-1 {
    font-size: 24px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.48px;
    line-height: 28.8px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

.subheading-2 {
    font-size: 22px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 30px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

.subheading-3 {
    font-size: 20px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 28px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

body {
    font-size: 15px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.45px;
    line-height: 18px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

.body-large {
    font-size: 18px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    line-height: 26px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: none;
}

.tag {
    font-size: 15px;
    text-decoration: none;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.05px;
    line-height: 22px;
    text-indent: 0;
    word-spacing: 0px;
    text-transform: uppercase;
}