$text-transform-tiny: 0; 
$text-transform-small: 0.45; 
$text-transform-middle: 0.48; 
$text-transform-medium: 1.05; 
$text-transform-large: 1.62; 
$text-transform-x-large: 15px; 
$text-transform-xx-large: 18px; 
$text-transform-xxx-large: 20px; 
$text-transform-hughmongus: 22px; 
$text-transform-undefined: 24px; 
$text-transform-undefined: 26.4px; 
$text-transform-undefined: 26px; 
$text-transform-undefined: 28.8px; 
$text-transform-undefined: 28px; 
$text-transform-undefined: 300; 
$text-transform-undefined: 30px; 
$text-transform-undefined: 31.2px; 
$text-transform-undefined: 34px; 
$text-transform-undefined: 36px; 
$text-transform-undefined: 40.8px; 
$text-transform-undefined: 54px; 
$text-transform-undefined: 64.8px; 
$text-transform-undefined: 700; 
$text-transform-undefined: Helvetica Neue; 
$text-transform-undefined: none; 
$text-transform-undefined: normal; 
$text-transform-undefined: uppercase; 
