///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 3px !default;

$color-white: #FFFFFF;
$color-black: #202020;
$color-grey-1: #313131;
$color-grey-2: #878A8D;
$color-grey-3: #F6F6F6;
$color-grey-4: #E5E5E5;

$color-body-grey: #C4C4C4;
$color-highlight-blue: #67C8F2;

