
 $width-xxxs: 15px;
 $width-xxs: 25px;
 $width-xs: 50px;
 $width-s: 100px;
 $width-default: 264px;
 $width-m: 345px;
 $width-l: 527px;
 $width-xl: 739px;
 $width-xxl: 878px;
 $width-xxxl: 0px;
 $width-hughmongus: 0px;
 $width-innerpage: 1075px;
 $width-page: 1440px;

 $height-xxxs: 25px;
 $height-xxs: 50px;
 $height-xs: 75px;
 $height-s: 100px;
 $height-default: 161px;
 $height-m: 200px;
 $height-l: 336px;
 $height-xl: 450px;
 $height-xxl: 610px;
 $height-xxxl: 620px;
 $height-hughmongus: 0px;
 $height-innerpage: 0px;
 $height-page: 0px;
