<div class="c-toggle-{{params.id}} subtoggle">
    <label class="dropdown-toggle-label-{{params.id}}" for="dropdown-toggle-button-{{params.id}}" id="{{params.openPageID}}">
       {{params.text | title}}</label>
    <input class="dropdown-toggle-button-{{params.id}}" type="checkbox" id="dropdown-toggle-button-{{params.id}}" name="dropdown-toggle-button-{{params.id}}">
    <ul class="dropdown-options-{{params.id}}">
        {% for item in params.items %}
        <li>
            {{ item | title }}
        </li>
        {% endfor %}
    </ul>
</div>