node_modules
.env
DS_Store
./src/pages/posts
src/pages/posts/digitalisering.md
src/pages/posts/posts.json
/Users/deannabosschert/Desktop/codecookbook/assets/js/lib
assets/js/lib
_site/assets/js/lib
/assets/js/lib
./assets/js/lib
assets/js/lib/cleanData.js
assets/js/lib/sortData.js
