  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <title>{{ title }}</title>
  <meta name="title" content="{{ metadata.pages[pageName].metatitle }}">
  <meta name="description" content="{{ metadata.pages[pageName].metadescription }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon.png">
  {% if pageName == "/" %}
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}

  <meta name="theme-color" content="#67c8f2ff"/>
  <!-- <link rel="manifest" href="/manifest.json"> -->
  <link rel="apple-touch-icon" href="assets/img/icons/iconset/ac-logo/favicons/favicon-192.png">