    <nav class="c-sidebar clay card">
        {% include 'organisms/_searchBar.html' %}
        {% set sideBar = navigation.sidebar %}
        {% for categoryKey, category in sideBar %}
        {% set idCategory = loop.index %}

        <section>
            <h2 class="tag">{{categoryKey}}</h2>
            <ul>
                {% for subcategory in category %}
                {% set idSubcategory = loop.index %}

            
                {% for itemKey, item in subcategory %}

                <li>
                    <h3>{{itemKey | title}}</h3> 
                    <ul>
                    {% for subitem in item %}
                  
                    {% set idSubitem = loop.index %}
                      <li>
                    
                            {% for listKey , list in subitem %}
                            {% if loop.length == 1 %}
            

                            {{ component('organisms', '_toggle', {
                                id: idCategory + '-' + idSubcategory + '-' + idSubitem,
                                textelement: 'h4',
                                text: listKey,
                                icon: '> ',
                                items: list
                            }) }}
                            {% else %}
                            {% endif %}
                            {% endfor %}
                        </li>  
                    {% endfor %}
                    </ul>
         

                    
                </li>


                {% endfor%}
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </nav>