   body {
       display: grid;
       grid-template-columns: $width-xxs 1fr 1fr $width-xxs;
       grid-template-rows: $height-xs auto $height-xs;
       grid-template-areas:
           "header header header header"
           "main main main main"
           "footer footer footer footer";
   }

   body>main {
       grid-area: main;
       padding-right: $mobile-l;
   }

   .c-header {
    //    display: flex;
    //    justify-content: space-between;
       grid-area: header;
       min-width: 100%;
       max-width: 100%;
       border-bottom: 1px solid #f6f6f6ff;

       display: grid;
       grid-template-columns: $width-xxs 1fr 1fr $width-xxs;
       grid-template-areas:
           ". codeCookbook hamburger .";
           padding-left: 0;
   }

   .c-header-nav {
    width: unset;
    grid-area: hamburger;
    justify-self: flex-end;

    .menu-icon {
        padding: $mobile-l 0 $mobile-l $mobile-l;
    }
}

.c-header-nav .menu-btn:checked ~ .menu-icon {
    padding: 0;
    padding-right: 18px;
}

   .c-logo {
       display: none;
   }

   .header__title {
       grid-area: codeCookbook;
         justify-self: flex-start;
        //  z-index: 5;

   }

   .header__description {
       display: none;
   }

   .c-sidebar {
       display: none;
   }

   .c-footer {
       grid-area: footer;
   }

   @media screen and (max-width: 400px) {
       .c-header {}

       main {}

       .c-page-header {}
   }

   @media screen and (min-width: 400px) {}

   @media screen and (min-width: 550px) {
   

       .c-header {
           //    display: grid;
           //    grid-template-columns: $width-default 1fr 1fr $width-s;
           //    grid-template-areas:
           //        "logo description description description";
       }

       .header__title {
           //    grid-area: logo;
       }

       .header__description {
     

       }
   }

   @media screen and (min-width: 600px) {}
   
   @media screen and (min-width: 650px) {
       .c-header {
        grid-template-columns: $width-xxs auto auto auto $width-xxs;
        grid-template-areas:
            ". codeCookbook description hamburger .";
       }

    .header__description {
        display: flex;
        width: fit-content;
        grid-area: description;
        min-width: fit-content;
           max-width: 100%;
        padding-left: $mobile-default;
    }
   }


@media screen and (max-width: 800px) {
    .c-header .hb-header__title {
        display: flex;
        align-items: center;
    position: absolute;
    top: 0;
    left: $width-xxs;
    height: $height-xs;
    z-index: 5;
    color: $white;

    a {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

.hb-c-search-bar__input {
    width: 100%;
}


    .c-header-nav {
      ul li a {
        color: $gray-3;
        font-size: 22px;
        line-height: 40px;
        font-weight: bold;
      }

      .menu-btn:checked~body {
        max-height: 100vh;
      }
  
      .menu-btn:checked~.menu-icon {
        z-index: 5;
      }
  
      .menu-btn:checked~.menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        width: 100vw;
        min-height: 100vh;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        // padding: 5rem 3rem 3rem 1rem;
        padding: $mobile-xxxl $mobile-xxxl $mobile-xxxl 0;
        z-index: 2;
      }
    }
  }
  

   @media screen and (min-width: 800px) {
       body {
           display: grid;
           grid-template-columns: $width-default 1fr 1fr $width-s;
           grid-template-rows: $height-xs auto $height-xs;
           grid-template-areas:
               ". header header header"
               "sidebar main main ."
               "footer footer footer .";
           background-color: #fff;
       }

       .c-header {
           grid-area: header;
       }

       .header-nav__menu {
           display: none;
       }

       .c-sidebar {
           grid-area: sidebar;
           display: flex;
       }

       body>main {
           grid-area: main;
       }

       .c-footer {
           grid-area: footer;
       }
   }

   @media screen and (max-width: 1085px) {
       .c-header {
           .header__title {
               min-width: max-content;
               font-size: 18px;
           }

           .header__description {
               font-size: 16px;
           }
       }
   }

   @media screen and (max-width: 1220px) {
       .c-header {
           .header__title {
               min-width: max-content;
               font-size: 18px;
           }

           .header__description {
               font-size: 18px
           }
       }
   }