/* ==========================================================================
   #IMAGES
   ========================================================================== */

img {
  // min-height: 100%;
  // min-width: 100%;
  // height: 100%;
  // width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

figure {
  figcaption {
    color: $black;
    text-align: center;
  }
  max-width: 100%;
  max-height: fit-content;
}
