.btn--primary {
    box-shadow: 0 0 0 2px rgba(8, 43, 75, 0.45);
    background-image: linear-gradient(to right, #8ebafc -10%, #8eb4fc 60%, #e0eaec 99%, #8294b5 155%);
    color: white;
    border-radius: 5px;
    letter-spacing: 0.25px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    transition: 0.5s;
    background-size: 200% auto;
    padding: 0.6rem 1rem;
    margin: 0.2rem;
    min-width: min-content;

  &:hover {

  }
}

.about-link {
  background-color: #67c8f2ff;
  background: linear-gradient(90deg, rgba(110,203,243,1) 0%, rgba(110,203,243,0.8925945378151261) 13%, rgba(110,203,243,1) 34%, rgba(108,196,233,0.7721463585434174) 67%, rgba(103,200,242,0.5284488795518207) 89%, rgba(255,255,255,0.7329306722689075) 100%);  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.25px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s;
  background-size: 200% auto;
  padding: 0.6rem 1rem;
  margin: 0.2rem;
  min-width: min-content;
  max-width: fit-content;
  font-variant: small-caps;

  &:hover {
    background-position: 100% 0;
    // hover animation on gradient background

  }
}

.btn--secondary {

}


.icon {
  
}

.link-arrow:after {
    content: "⭢";
    vertical-align: middle;
    // margin-left: $spacing-small;
}

.about-link-row {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  max-width: 100%;
  width: fit-content;
  margin-left: -8px;
  border-radius: 5px;
  box-shadow: inset 0px 0 1px 1px rgb(31 38 135 / 10%);
  backdrop-filter: blur(4px);
  margin-bottom: 24px;
  padding: 16px;
  margin-top: $desktop-xxs;
 
}

.categoryPage .about-link-row, .AboutPage .about-link-row {
  >p {
    margin-bottom: 0;
  }
}

.step__number {
  color: $brand;
}

.About  .contentSummary {
  background-color: $black;
  color: $white;
  border-radius: 5px;
  width: fit-content;
  max-width: 100%;
  padding: $desktop-m $desktop-default;
  border-left: 1px solid $black;
  margin-bottom: $desktop-l;

 h2, h3, h4, h5, li, p , a {
      color: $white;
  }

  .step__number {
    color: $brand;
    font-weight: bold;
  }
}
