table {
    border-collapse: collapse;
    height: fit-content;

    th, td, tr {

        &:first-of-type {
            text-align: right;
        }

        &:last-of-type {
            text-align: left;
        }
    }

    th {
        color: $brand;
        padding-bottom: $desktop-xxxs;
        border-bottom: 3px solid $gray-1;
        padding: $desktop-xxxs $desktop-xxs;
    }

    tr {
        border-bottom: 0.1px solid $gray-3;
        border-left: 0.1px solid $gray-2;
        border-right: 0.1px solid $gray-2;



        &:first-of-type {
            border: 0;
        }

        &:last-of-type {
            border-bottom: 2px solid $gray-1;
        }
    }

    td {
        padding: $desktop-xxs $desktop-s;
        &:first-of-type {
            padding: $desktop-xs;
        }
        // border: 0.1px solid $gray-2;
        color: $black;
    }


}