/* ==========================================================================
   ELEMENTS- TYPOGRAPHY
   ========================================================================== */
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=3181090a-d079-4308-81c4-a26d856b022e");

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"), url("/assets/fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"), url("/assets/fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"), url("/assets/fonts/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"), url("/assets/fonts/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

$font-family-primary: Helvetica Neue,
Helvetica,
Arial,
sans-serif;

body {
  font-family: $font-family-primary;
  word-break: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
  color: $black;
  line-height: 66px;
  letter-spacing: 0.03em;
  max-width: 62rem;
}



h2 {
  color: $gray-1;
}

h3 {}

h4 {
  margin-bottom: $mobile-s;
}

p, td {
  font-size: 18px;
  line-height: 24px;
}


ul li {
  color: $gray-1;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

input {
  font-size: 15px;
  
}

address {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

footer address,
a {
  font-size: 15px;
  line-height: 24px;
}

.c-sidebar h2, .hb-c-sidebar h2 {
  color: $gray-2;
}

// CMS styling 
.frame-content {

  p,
  i,
  li {
    //  margin-bottom: $spacing-default;
  }
}