<p class="codepen" data-height="400" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="{{params.penID}}" data-editable="true" data-user="{{params.username}}" style="height: 450px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a rel="noreferrer" href="https://codepen.io/{{params.username}}/pen/{{params.penID}}">
    accessible search form example</a> by Deanna Bosschert (<a rel="noreferrer" href="https://codepen.io/{{params.username}}">@{{params.username}}</a>)
    on <a rel="noreferrer" href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>