// might be better off placed directly inside components/organisms/_toggle.html
@for $idCategory from 1 through 5 {
    @for $idSubcategory from 1 through 10 {
        @for $idSubitem from 1 through 10 {

            .c-toggle-#{$idCategory}-#{$idSubcategory}-#{$idSubitem} {
                .dropdown-options-#{$idCategory}-#{$idSubcategory}-#{$idSubitem} {
                    display: none;
                }

                .dropdown-toggle-button-#{$idCategory}-#{$idSubcategory}-#{$idSubitem} {
                    display: none;
                }

                .dropdown-toggle-button-#{$idCategory}-#{$idSubcategory}-#{$idSubitem}:checked~.dropdown-options-#{$idCategory}-#{$idSubcategory}-#{$idSubitem} {
                    display: block;
                }
            }

        }
    }

}