---
pagePath: "{{parent}}/{{pageName}}"
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "sections/_head.html" %}
  <link rel="stylesheet" href="https://unpkg.com/claymorphism-css/dist/clay.css" />
</head>

<body>
  {% include "../sections/_serviceworker.html" %}

  {%- from "system/component.njk" import component -%}
  {{ component("atoms", "_logo", {
        src: "/assets/img/logos/active-collective_logo_black.svg",
        alt: "Active Collective in black letters",
        text: "Home: Code Cookbook",
        link: "/"
     })}}
  {{ component('sections', '_header', {
    title: '🍽️ Code Cookbook',
    description: 'Guide to the best-practices for building and deploying web applications.'
    }) }}
  {% include "sections/_sideBar.html" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "sections/_footer.html" %}
</body>

</html>