<div class="c-toggle-{{params.id}}">
    <input class="dropdown-toggle-button-{{params.id}}" type="checkbox" id="dropdown-toggle-button-{{params.id}}" name="dropdown-toggle-button-{{params.id}}">
    <label class="dropdown-toggle-label-{{params.id}}" for="dropdown-toggle-button-{{params.id}}" id="{{params.openPageID}}">
     <h3 class="toggleHeading {{params.openPageID}}-heading">{{params.text | title}}</h3></label>
    <ul class="dropdown-options-{{params.id}} optionsToggled {{params.openPageID}}-options">
 
            {% for subitem in params.item %}
          
            {% set idSubitem = loop.index %}
              <li>
            
                    {% for listKey , list in subitem %}
                    {% if loop.length == 1 %}
    

                    {{ component('molecules', '_subToggle', {
                        id: params.id + '-' + idSubitem,
                        openPageID: listKey,
                        href: params.href + '-subpage-' + listKey,
                        textelement: 'h4',
                        text: listKey,
                        icon: '> ',
                        items: list
                    }) }}
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </li>  
            {% endfor %}
            </ul>
</div>

<!-- import toggle-page.js -->
{%- from "system/function.njk" import function -%}


{{ function('toggle-page', 'false', {
    pageID: params.openPageID
}) }}