<div class="c-toggle-{{params.id}}">
    <label class="dropdown-toggle-label-{{params.id}}" for="dropdown-toggle-button-{{params.id}}" id="{{params.openPageID}}">
     <h3>{{params.text | title}}</h3></label>
    <input class="dropdown-toggle-button-{{params.id}}" type="checkbox" id="dropdown-toggle-button-{{params.id}}" name="dropdown-toggle-button-{{params.id}}">
    <ul class="dropdown-options-{{params.id}}">
 
            {% for subitem in params.item %}
          
            {% set idSubitem = loop.index %}
              <li>
            
                    {% for listKey , list in subitem %}
                    {% if loop.length == 1 %}
    

                    {{ component('molecules', '_subToggle', {
                        id: params.id + '-' + idSubitem,
                        openPageID: listKey,
                        textelement: 'h4',
                        text: listKey,
                        icon: '> ',
                        items: list
                    }) }}
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </li>  
            {% endfor %}
            </ul>
</div>


