


.flex-2,
.flex-3 {
    display: flex;
    flex-direction: row;

    max-width: 100%;
    width: fit-content;
    margin-left: -$desktop-xxxs;

    border-radius: 5px;
    box-shadow: inset 0px 0 1px 1px rgb(31 38 135 / 10%);
    backdrop-filter: blur(4px);


    margin-bottom: $desktop-s;
    padding: $desktop-xxs;
}

.variable-table {
    height: 100%;
}

.font-weight-list {
    height: 100%;

    li {
        font-size: 34px;
        margin-bottom: $desktop-default;
    }
    li:nth-of-type(1) {
        font-weight: 700;
    }

    li:nth-of-type(2) {
        font-weight: 600;
    }

    li:nth-of-type(3) {
        font-weight: 500;
    }

    li:nth-of-type(4) {
        font-weight: 400;
    }

    li:nth-of-type(5) {
        font-weight: 300;
    }
}

pre {
    height: fit-content;
    background-color: $black;
    padding: $desktop-s;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: $desktop-s;
}

code {
    letter-spacing: 2px;
    color: $white;

}