// to be moved to seperate modules later
.c-header {
    display: flex;
    flex-direction: column;
    // background-color: lightblue;
    // align-items: center;
    padding: $desktop-s 0;
}

h2 {
    color: $gray-1;
}
