{%- from "system/component.njk" import component -%}
{% set parent = params.parent %}
<!--design-->
{% set page = params.page %}
<!--ontwerp-->
{% set subpage = 'design' %}
<!--put in array later, for now it's design-->
{% set image = 'assets/img/content/' + parent + '/' + page + '/' %}
<!-- <p>breadcrumbs</p> -->


<section id="{{params.parent}}-{{params.page}}-subpage-{{subpage}}">
    <h2>{{subpage | title }}</h2>

    <article class="contentSummary">
        <h3>Figma-link geheel project</h3>
        {{ component('atoms', '_figmaEmbed', {
            src: 'https%3A%2F%2Fwww.figma.com%2Ffile%2FC88x6AnvQ1SQEWzFlDod89%2FProces%3Fnode-id%3D18%253A3',
            height: 450,
            width: 800
            }) }}
    </article>
    <div class="grid-2">
        <article>
            <h3>Mobile design</h3>
            <img loading="lazy" src="{{image}}design-mobile.png" alt="Mobile design" width="449">
            <p>Er is uiteraard mobile-first gewerkt;  hier een impressie van het design. Het volledige design is te bekijken via de Figma-link hierboven.</p>
        </article>
        <article>
            <h3>Desktop design</h3>
            <img loading="lazy" src="{{image}}design-desktop.png" alt="Desktop design" width="449">
            <p>Desktop design voor dit sproject. Het volledige design is te bekijken via de Figma-link hierboven.</p>
        </article>
    </div>
</section>

<section id="{{params.parent}}-{{params.page}}-subpage-componenten">
    <h2>Componenten</h2>
    <article>
        <h3>Overzicht</h3>
        {{ params.figma.componenten | safe }}

        <div class="grid-2">
            {% for picture in ["buttons_1", "grid-spacing" , "buttons_2", "elevation", "labels"] -%}
                {{ component('atoms', '_image', {
                   src: image + 'componenten-foto/' + picture + '.png',
                   alt: 'component overview of ' + picture
                }) }}
            {%- endfor %}
        </div>


    </article>
    <article>
        <h3>States</h3>
        {{ params.figma.states | safe }}
        <div class="tldr">{{ component('atoms', '_image', {
            src: image + 'states/' + 'overview' + '.png',
            alt: 'overview of all states'
         }) }}
        </div>
        <div class="grid-2">
            {% for picture in ["big", "small", "text", "dismissable"] -%}
                {{ component('atoms', '_image', {
                   src: image + 'states/' + picture + '.png',
                   alt: 'states overview: ' + picture + 'components'
                }) }}
            {%- endfor %}
        </div>
    </article>
    <!-- <article>
        <h3>Animaties</h3>
        {{ params.figma.animaties | safe }}
    </article> -->
</section>

<section id="{{params.parent}}-{{params.page}}-subpage-fonts">
    <h2>Fonts</h2>
    <div class="grid-2">
        <article>
            <h3>Figma-embed</h3>
            {{ component('atoms', '_figmaEmbed', {
                src: 'https%3A%2F%2Fwww.figma.com%2Ffile%2FC88x6AnvQ1SQEWzFlDod89%2FProces%3Fnode-id%3D18%253A4',
                height: 450,
                width: 800
            }) }}
        </article>
        <article class="license-info">
            <h3>License information</h3>
            <p>This font is protected and not to be used by others as it's simply used for a graduation project here.
            </p>
            <ul>
                <li>Neue Helvetica® W05 45 Light</li>
                <li>Neue Helvetica® W05 55 Roman</li>
                <li>Neue Helvetica® W05 65 Medium</li>
                <li>Neue Helvetica® W05 75 Bold</li>
            </ul>
        </article>
    </div>
    <article>
        <h3>Preview</h3>
        <div class="grid-2-3">
            {% for i in range(1, 7) -%}
            <div>
                {% if i == 1 or i == 3%}
                <h4 class="tag">Headings</h4>
                {% elseif i == 5 %}
                <h4 class="tag">Body</h4>
                {% endif %}
                {{ component('atoms', '_image', {
                    src: image + 'font-' + i + '.png',
                    alt: 'Font ' + i + ' of 6'
                    }) }}
            </div>
            {%- endfor %}
        </div>
    </article>
</section>

<section id="{{params.parent}}-{{params.page}}-subpage-afbeeldingen">
    <h2>Afbeeldingen</h2>
    <article>
        <h3>Rectangles</h3>
        <p>Binnen dit project maken we gebruik van twee verschillende shapes: vierkanten en rechthoeken.</p>
        <p>We maken gebruik van de rechthoeken voor content-afbeeldingen. Deze zijn meestal 1100x300px.</p>
        <div class='grid-3'>
            {% for i in range(1, 4) -%}
            <div>
                {{ component('atoms', '_image', {
                src: image + 'afbeeldingen/rectangle-' + i + '.jpg',
                alt: 'rectangle ' + i + ' van 3'
                }) }}
            </div>
            {%- endfor %}
        </div>
    </article>
    <article>
        <h3>Squares</h3>
        <p>We maken gebruik van de vierkanten voor card-afbeeldingen. Deze zijn meestal 547x610px.</p>
        <div class='grid-2-small'>
            {% for i in range(1, 3) -%}
            <div>
                {{ component('atoms', '_image', {
                src: image + 'afbeeldingen/square-' + i + '.jpg',
                alt: 'square ' + i + ' van 3'
                }) }}
            </div>
            {%- endfor %}
        </div>
    </article>
    <article>
        <h3>Headers</h3>
        <p>Verder passen we eenzelfde formaat toe voor de pagina-header background.</p>
        <div class='grid-3'>
            {% for i in range(1, 4) -%}
            <div>
                {{ component('atoms', '_image', {
                src: image + 'afbeeldingen/background-' + i + '.jpg',
                alt: 'background ' + i + ' van 3'
                }) }}
            </div>
            {%- endfor %}
        </div>
    </article>
    <article>
        <h3>Iconen</h3>
        <p>Er wordt een standaardset iconen gebruikt, afkomstig van <i>Code Design System</i>. Deze zijn te vinden in
            het templatebestand in Figma onder het kopje <a rel="noreferrer" href="figma.com" target="_blank">atoms > icons</a>.</p>
        <div class='grid-6'>
            {% for i in range(1, 9) -%}
            {% for i in range(1, 3) -%}
            <div>
                {{ component('atoms', '_image', {
                src: image + 'icons/icon-' + i + '.png',
                alt: 'icon ' + i + ' van 8'
                }) }}
            </div>
            {%- endfor %}
            {%- endfor %}
        </div>
        {{ component('atoms', '_image', {
            src: image + 'componenten-foto/' + 'icons' + '.png',
            alt: 'component overview of all' + 'icons'
            }) }}
    </article>
</section>