<section class="design-variabelen-subpage-colors">
    <h2>colors</h2>
    <div>
        <article>
            <h3>primary</h3>
            <ul class="flex-3">
                <!-- {% for color in  pages.design.variables.color %} -->
                <!-- {% endfor %} -->
                <li>
                    <div class="color-box">#202020ff</div>
                    <h4 class="tag">black</h4>
                </li>
                <li>
                    <div class="color-box">#ffffffff</div>
                    <h4 class="tag">white</h4>
                </li>
                <li>
                    <div class="color-box">#67c8f2ff</div>
                    <h4 class="tag">brand</h4>
                </li>
            </ul>
        </article>
        <article>
            <h3>secondary</h3>
            <ul class="flex-3">
                <li>
                    <div class="color-box">#313131ff</div>
                    <h4 class="tag">gray-1</h4>
                </li>
                <li>
                    <div class="color-box">#878a8dff</div>
                    <h4 class="tag">gray-2</h4>
                </li>
                <li>
                    <div class="color-box">#f6f6f6ff</div>
                    <h4 class="tag">gray-3</h4>
                </li>
            </ul>
        </article>
        <article>
            <h3>highlight</h3>
            <ul class="flex-3">
                <li>
                    <div class="color-box">#C4C4C4</div>
                    <h4 class="tag">body-gray</h4>
                </li>
                <li>
                    <div class="color-box">#67C8F2</div>
                    <h4 class="tag">body-highlight</h4>
                </li>
                <li>
                    <div class="color-box">#69c9f21a</div>
                    <h4 class="tag">brand-transparent</h4>
                </li>
            </ul>
        </article>
    </div>
    {% include 'src/_data/pages/design/variables/color.html' %}

</section>
<section class="design-variabelen-subpage-typography">
    <h2>typography</h2>
    <article>
        <h3>font-size</h3>
    </article>
    <article>
        <h3>font-family</h3>
    </article>
    <article>
        <h3>font-weight</h3>
    </article>
    <article>
        <h3>letter-spacing</h3>
    </article>
    <article>
        <h3>line-height</h3>
    </article>
</section>
<section class="design-variabelen-subpage-distances">
    <h2>distances</h2>
    <article>
        <h3>grid</h3>
    </article>
    <article>
        <h3>spacing</h3>
    </article>
    <article>
        <h3>layout</h3>
    </article>
</section>