<section class="design-variabelen-subpage-colors">
    <h2>colors</h2>
    <div>
        <article>
            <h3>primary</h3>
            <ul class="flex-3">
                <!-- {% for color in  pages.design.variables.color %} -->
                <!-- {% endfor %} -->
                <li>
                    <div class="color-box">#202020ff</div>
                    <h4 class="tag">black</h4>
                </li>
                <li>
                    <div class="color-box">#ffffffff</div>
                    <h4 class="tag">white</h4>
                </li>
                <li>
                    <div class="color-box">#67c8f2ff</div>
                    <h4 class="tag">brand</h4>
                </li>
            </ul>
        </article>
        <article>
            <h3>secondary</h3>
            <ul class="flex-3">
                <li>
                    <div class="color-box">#313131ff</div>
                    <h4 class="tag">gray-1</h4>
                </li>
                <li>
                    <div class="color-box">#878a8dff</div>
                    <h4 class="tag">gray-2</h4>
                </li>
                <li>
                    <div class="color-box">#f6f6f6ff</div>
                    <h4 class="tag">gray-3</h4>
                </li>
            </ul>
        </article>
        <article>
            <h3>highlight</h3>
            <ul class="flex-3">
                <li>
                    <div class="color-box">#C4C4C4</div>
                    <h4 class="tag">body-gray</h4>
                </li>
                <li>
                    <div class="color-box">#67C8F2</div>
                    <h4 class="tag">body-highlight</h4>
                </li>
                <li>
                    <div class="color-box">#69c9f21a</div>
                    <h4 class="tag">brand-transparent</h4>
                </li>
            </ul>
        </article>
    </div>
    {% include 'src/_data/pages/design/variables/color.html' %}
</section>
<section class="design-variabelen-subpage-typography">
    <h2>typography</h2>
    <div class="grid-2">
    <article>
        <h3>font-size</h3>
        <div class="flex-2">
            <article>
                <h1>54px</h1>
                <h2>34px</h2>
                <h3>28px</h3>
                <h4>22px</h5>
                    <h5>18px</h5>
                    <p>16px</p>
            </article>
            <table class="variable-table">
                <tr>
                    <th class="tag">variable</th>
                    <th class="tag">value</th>
                </tr>
                <tr>
                    <td>$heading-1:</td>
                    <td>53px;</td>
                <tr>
                <tr>
                    <td>$heading-2:</td>
                    <td>34px;</td>
                <tr>
                <tr>
                    <td>$heading-3:</td>
                    <td>28px;</td>
                <tr>
                <tr>
                    <td>$heading-4:</td>
                    <td>22px;</td>
                <tr>
                <tr>
                    <td>$heading-5:</td>
                    <td>18px;</td>
                <tr>
                <tr>
                    <td>$p:</td>
                    <td>16px;</td>
                <tr>
            </table>
        </div>
    </article>
    <article>
        <h3>font-weight</h3>
        <div class="flex-2">
            <article>
               <ul class="font-weight-list">
                   <li>700</li>
                   <li>600</li>
                   <li>500</li>
                   <li>400</li>
                   <li>300</li>
               </ul>
   
            </article>
            <table class="variable-table">
                <tr>
                    <th class="tag">variable</th>
                    <th class="tag">value</th>
                </tr>
                <tr>
                    <td>$weight-bold: </td>
                    <td>700;</td>
                <tr>
                <tr>
                    <td>$weight-semibold: </td>
                    <td>600;</td>
                <tr>
                <tr>
                    <td>$weight-medium: </td>
                    <td>500;</td>
                <tr>
                <tr>
                    <td>$weight-normal: </td>
                    <td>400;</td>
                <tr>
                <tr>
                    <td>$weight-light: </td>
                    <td>300;</td>
                <tr>
            </table>
        </div>
    </article>
</div>
    <!-- <article>
        <h3>font-family</h3>
    </article>
    <article>
        <h3>font-weight</h3>
    </article>
    <article>
        <h3>letter-spacing</h3>
    </article>
    <article>
        <h3>line-height</h3>
    </article> -->
</section>
<section class="design-variabelen-subpage-distances">
    <h2>distances</h2>
    <article>
        <h3>spacing</h3>
        <div class="grid-2">
            <table class="variable-table">
                <tr>
                    <th class="tag">variable</th>
                    <th class="tag">value</th>
                </tr>
                <tr>
                    <td>$mobile-xxxs:</td>
                    <td>4px;</td>
                <tr>
                <tr>
                    <td>$mobile-xxs:</td>
                    <td>8px;</td>
                <tr>
                <tr>
                    <td>$mobile-xs:</td>
                    <td>11px;</td>
                <tr>
                <tr>
                    <td>$mobile-s:</td>
                    <td>16px;</td>
                <tr>
                <tr>
                    <td>$mobile-default:</td>
                    <td>20px;</td>
                <tr>
                <tr>
                    <td>$mobile-m:</td>
                    <td>24px;</td>
                <tr>
                <tr>
                    <td>$mobile-l:</td>
                    <td>28px;</td>
                <tr>
                <tr>
                    <td>$mobile-xl:</td>
                    <td>34px;</td>
                <tr>
                <tr>
                    <td>$mobile-xxl:</td>
                    <td>40px;</td>
                <tr>
                <tr>
                    <td>$mobile-xxxl:</td>
                    <td>55px;</td>
                <tr>
                <tr>
                    <td>$mobile-hughmongus:</td>
                    <td>64px;</td>
                <tr>
                <tr>
                    <td>$mobile-innerpage:</td>
                    <td>80px;</td>
                <tr>
                <tr>
                    <td>$mobile-page:</td>
                    <td>84px;</td>
                <tr>
            </table>
            <table class="variable-table">
                <tr>
                    <th class="tag">variable</th>
                    <th class="tag">value</th>
                <tr>
                    <td>$desktop-xxxs:</td>
                    <td>8px;</td>
                <tr>
                <tr>
                    <td>$desktop-xxs:</td>
                    <td>16px;</td>
                <tr>
                <tr>
                    <td>$desktop-xs:</td>
                    <td>20px;</td>
                <tr>
                <tr>
                    <td>$desktop-s:</td>
                    <td>24px;</td>
                <tr>
                <tr>
                    <td>$desktop-default:</td>
                    <td>32px;</td>
                <tr>
                <tr>
                    <td>$desktop-m:</td>
                    <td>40px;</td>
                <tr>
                <tr>
                    <td>$desktop-l:</td>
                    <td>56px;</td>
                <tr>
                <tr>
                    <td>$desktop-xl:</td>
                    <td>64px;</td>
                <tr>
                <tr>
                    <td>$desktop-xxl:</td>
                    <td>70px;</td>
                <tr>
                <tr>
                    <td>$desktop-xxxl:</td>
                    <td>84px;</td>
                <tr>
                <tr>
                    <td>$desktop-hughmongus:</td>
                    <td>100px;</td>
                <tr>
                <tr>
                    <td>$desktop-innerpage:</td>
                    <td>110px;</td>
                <tr>
                <tr>
                    <td>$desktop-page:</td>
                    <td>128px;</td>
                <tr>
            </table>
        </div>
    </article>
    <article>
        <h3>layout</h3>
        <div class="grid-2">
            <table class="variable-table">
                <tr>
                    <th class="tag">variable</th>
                    <th class="tag">value</th>
                </tr>
                <tr>
                    <td>$width-xxxs:</td>
                    <td>15px;</td>
                <tr>
                <tr>
                    <td>$width-xxs:</td>
                    <td>25px;</td>
                <tr>
                <tr>
                    <td>$width-xs:</td>
                    <td>50px;</td>
                <tr>
                <tr>
                    <td>$width-s:</td>
                    <td>100px;</td>
                <tr>
                <tr>
                    <td>$width-default:</td>
                    <td>264px;</td>
                <tr>
                <tr>
                    <td>$width-m:</td>
                    <td>345px;</td>
                <tr>
                <tr>
                    <td>$width-l:</td>
                    <td>527px;</td>
                <tr>
                <tr>
                    <td>$width-xl:</td>
                    <td>739px;</td>
                <tr>
                <tr>
                    <td>$width-xxl:</td>
                    <td>878px;</td>
                <tr>
                <tr>
                    <td>$width-xxxl:</td>
                    <td>0px;</td>
                <tr>
                <tr>
                    <td>$width-hughmongus:</td>
                    <td>0px;</td>
                <tr>
                <tr>
                    <td>$width-innerpage:</td>
                    <td>1075px;</td>
                <tr>
                <tr>
                    <td>$width-page:</td>
                    <td>1440px;</td>
                <tr>
            </table>
            <table class="variable-table">
                <tr>
                    <th class="tag">variable</th>
                    <th class="tag">value</th>
                </tr>
                <tr>
                    <td>$height-xxxs:</td>
                    <td>25px;</td>
                <tr>
                <tr>
                    <td>$height-xxs:</td>
                    <td>50px;</td>
                <tr>
                <tr>
                    <td>$height-xs:</td>
                    <td>100px;</td>
                <tr>
                <tr>
                    <td>$height-s:</td>
                    <td>161px;</td>
                <tr>
                <tr>
                    <td>$height-default:</td>
                    <td>200px;</td>
                <tr>
                <tr>
                    <td>$height-m:</td>
                    <td>336px;</td>
                <tr>
                <tr>
                    <td>$height-l:</td>
                    <td>450px;</td>
                <tr>
                <tr>
                    <td>$height-xl:</td>
                    <td>610px;</td>
                <tr>
                <tr>
                    <td>$height-xxl:</td>
                    <td>620px;</td>
                <tr>
                <tr>
                    <td>$height-xxxl:</td>
                    <td>0px;</td>
                <tr>
                <tr>
                    <td>$height-hughmongus:</td>
                    <td>0px;</td>
                <tr>
                <tr>
                    <td>$height-innerpage:</td>
                    <td>0px;</td>
                <tr>
                <tr>
                    <td>$height-page:</td>
                    <td>0px;</td>
                <tr>
            </table>
        </div>
    </article>
</section>