.categoryPage {

    h1:first-letter,
    h2:first-letter,
    h3:first-letter,
    h4:first-letter,
    h5:first-letter,
    h6:first-letter,
    p:first-letter {
        text-transform: capitalize;
    }

    h1 {
        margin-bottom: $desktop-xxs;
    }

    h2 {
        margin-bottom: $desktop-s;
    }

    .license-info {
        ul li:before {
            content: url(/assets/img/icons/checkbox-checked.png);
            color: $brand;
            height: inherit;
            margin-right: $mobile-xs;
        }
    }

    .contentSummary {
        background-color: $black;
        color: $white;
        border-radius: 5px;
        width: fit-content;
        max-width: 100%;
        padding: $desktop-m $desktop-default;
        border-left: 1px solid $black;
        margin-bottom: $desktop-l;

        h3,
        p {
            color: $white;
        }
    }

    h3 {
        color: $gray-2;
        margin-bottom: $desktop-xxs;
    }

    p {
        color: $black;
        margin-bottom: $desktop-xxs;
    }

    i {
        font-style: italic;
    }

    section {
        margin-bottom: $desktop-l;
    }

    article {
        display: flex;
        flex-direction: column;
        margin-bottom: $desktop-default;

        // max-height: $height-xl;

    }

    .flex-2 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $desktop-m;
        grid-template-rows: 1fr;
        border-left: 1px solid $brand;
        max-width: 100%;
        padding-left: $desktop-default;
        margin-bottom: $desktop-l;

        article {
            margin-bottom: unset;

            img {
                width: $width-l;
                margin-bottom: $desktop-xxs;
            }
        }
    }

  

    .grid-2-small {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $desktop-m;
        grid-template-rows: $height-m;
        max-width: fit-content;


        margin-left: -$desktop-xxxs;

        border-radius: 5px;
        box-shadow: inset 0px 0 1px 1px rgb(31 38 135 / 10%);
        backdrop-filter: blur(4px);
        padding: $desktop-xxxs;

        img {
            min-height: 100%;
            object-fit: cover;
        }
    }

    .grid-2-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $desktop-xs $desktop-xxs;
        grid-template-rows: $height-xl $height-xl $height-xl;
        max-width: 100%;

        padding-left: $desktop-default;
        margin-left: -$desktop-m;

        div {
            display: flex;
            border-radius: 5px;
            box-shadow: inset 0px 0 1px 1px rgb(31 38 135 / 10%);
            backdrop-filter: blur(4px);
            padding: $desktop-xxxs;
        }

        .tag {
            color: $body-highlight;
            transform: rotate(-180deg);
            writing-mode: vertical-rl;
            text-orientation: sideways;
            text-align: center;
        }

        img {
            width: calc(100% - 24px);
        }
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $desktop-xs;
        max-width: 100%;
        margin-left: -$desktop-xxxs;

        border-radius: 5px;
        box-shadow: inset 0px 0 1px 1px rgb(31 38 135 / 10%);
        backdrop-filter: blur(4px);
        padding: $desktop-xxxs;

        img {
            min-height: 100%;
            object-fit: cover;
        }
    }

    .grid-6 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin-left: -$desktop-xxxs;


        border-radius: 5px;
        box-shadow: inset 0px 0 1px 1px rgb(31 38 135 / 10%);
        backdrop-filter: blur(4px);
        padding: $desktop-xxxs;

        img {
            min-height: 100%;
            object-fit: cover;
            margin-right: $desktop-xxs;
        }
    }
}