{# function equals the file in assets/js #}
{%- macro function(name, args, params) -%}

    {% if args == 'true' %}
          <script type="module">
            import githubEmbed from '../../../assets/js/{{name}}.js'
            githubEmbed('{{params.data.containerID}}','{{params.data.api}}', '{{params.data.repo}}', '{{params.data.tag}}', '{{params.data.state}}')
        </script>
    {% elif args == 'false' %}
        <script type="module">
            import togglePage from '../../../assets/js/{{name}}.js'
            togglePage('{{params.pageID}}')
        </script>

    {% else %}
        <script type="module">
            import functionName from '../../../assets/js/{{name}}.js'
            functionName('{{params.pageID}}')
        </script>
    {% endif %}

{%- endmacro -%}