{%- from "system/component.njk" import component -%}

{# category equals the folder in /pages the page is in, e.g. design, development, resources etc #}
{%- macro page(category, page, params) -%}
{% if page == 'introduction' %} <!-- homepage -->
  <div id="{{category}}-{{page}}-page" class="categoryPage pageActive">
  {% else %}
  <div id="{{category}}-{{page}}-page" class="categoryPage">
  {% endif %}
    {{ component('sections', '_pageHeader', {
    title: params.title,
    description: params.description
    }) }}

    {% include "../../pages/" + category + "/" + page + ".html" %}
  </div>
{%- endmacro -%}