.c-sidebar {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // background-color: lightpink;
  // position: sticky;
  // top: 0;
  // left: 0;
  // bottom: 0;
  height: 100%;
  padding: 0 $desktop-s 0 $desktop-m;
  margin-top: $desktop-s;
  border-right: 1px solid $gray-3;
  // width: $width-default;
}

.c-sidebar {
  section {
    margin-bottom: $desktop-s;
  }

  h3,
  h4,
  li {
    font-size: 15px;
    font-weight: normal;
  }

  .subtoggle {
    label {
      // font-weight: semibold;
      margin-left: $desktop-xxxs;
    }


    ul {
      margin-left: $desktop-xxs;

      li {
        font-weight: 300;
      }
  
    }
  }

  li {}
}