#development-git-page {
    article, img {
        margin-bottom: $desktop-default;
        
    }

    p {
        max-width: $width-xxl;
    }

    h4 {
        margin-bottom: $desktop-default;
    }
    
}