#development-deployment-page {
    article, img {
        margin-bottom: $desktop-default;
    }

    .grid-2 {
        padding-top: $desktop-s;
        padding-bottom: $desktop-s;
    }

    p {
        max-width: $width-xxl;
        margin-bottom: $desktop-xs;
    }

    h4 {
        margin-bottom: $desktop-s;
    }

    .grid-3 {
        max-height: 100%;
    }
    
}