---
layout: templates/_base.html
pageName: /
parent:
---
{%- from "system/page.njk" import page -%}
{%- from "system/function.njk" import function -%}
{% set sideBar = navigation.sidebar %}

<div class="categoryPage">
      <p>dit staat er als je opstart</p>
      
</div>

{{ page('design', 'ontwerp', {
       title: 'Ontwerp',
       parent: 'design',
       page: 'ontwerp',
       description: 'Alle ontwerpen van dit project in een overzicht.',
       figma: figma.dev,
       list: navigation.sidebar.design
 }) }}
<!-- remove 'dev' in prod -->


{% for categoryKey, category in sideBar %}{% for subcategory in category %}{% for itemKey, item in subcategory %}
{{ page(categoryKey, itemKey, {
      title: itemKey,
      parent: categoryKey,
      page: itemKey,
      description: 'Iets van een description over deze pagina'
}) }}
{% endfor %}{% endfor %}{% endfor %}