---
layout: templates/_base.html
title: 'Code Cookbook: naslagwerk voor het ontwikkelen van websites'
pageName: /
parent:
---
{%- from "system/page.njk" import page -%}
{%- from "system/function.njk" import function -%}
{% set sideBar = navigation.sidebar %}
{% set paginaOmschrijvingen = paginadescriptions.descriptions %}

{% for categoryKey, category in sideBar %}{% for subcategory in category %}{% for itemKey, item in subcategory %}


{{ page(categoryKey, itemKey, {
      title: itemKey,
      description: paginaOmschrijvingen[categoryKey][itemKey],
      parent: categoryKey,
      page: itemKey,
      figma: figma,
      list: navigation.sidebar.design 
}) }}
<!-- remove 'dev' in prod -->
{% endfor %}{% endfor %}{% endfor %}